<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GagoZoo.Properties.Settings.SeriDBConnectionString"
            connectionString="Data Source=ROJIE\SQLSERVERZ;Initial Catalog=SeriDB;Persist Security Info=True;User ID=seri98;Password=seri12898pp"
            providerName="System.Data.SqlClient" />
        <add name="GagoZoo.Properties.Settings.KalayaanZooConnectionString"
            connectionString="Data Source=ROJIE\SQLRSERVER;Initial Catalog=KalayaanZoo;Persist Security Info=True;User ID=sa;Password=sysadmin12345"
            providerName="System.Data.SqlClient" />
        <add name="GagoZoo.Properties.Settings.KalayaanZooConnectionString1"
            connectionString="Data Source=ROJIE,1433;Initial Catalog=KalayaanZoo;User ID=sa;Password=sysadmin12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>